.env
*.pyc
__pycache__
scalable-fastapi-backend-venv/
.pytest_cache
/scripts
/test_images
/static
/outputs
/logs
/Group_Photo
/captured_faces
/alembic
/.vscode
pytest.ini
alembic.ini
.coverage
test_*.py
/src/tests
.dockerignore
docker-compose.yaml
requirements1.txt
buffalo_l/
deepface_weights